@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
}

:root {
  --fontColor: black;
  --h1FontSize: 2rem;
}

.main-container {
  width: 100vw;
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* background-color: blueviolet; */
  height: 75px;
}

.links {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  gap: 30px;
}
.links > li {
  align-items: center;
  color: var(--fontColor);
  list-style: none;
}
.quote {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  align-items: center;
}

.bar {
  display: none;
}
.header {
  width: 100%;
  /* background-color: brown; */
  display: flex;
  justify-content: center;
}
.left-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  /* background-color: aquamarine; */
  gap: 30px;
}

.navigating-heading {
  width: 80%;
  font-size: var(--h1FontSize);
  /* background-color: blue; */
}
.digital-marketing {
  width: 80%;
  /* background-color: chartreuse; */
}
.consultation {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  width: 80%;
}
.consultation-btn {
  width: 50%;
  height: 40px;
  background-color: black;
  color: white;
}
.right-landing {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}
.companies {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .links {
    display: none;
  }
  .logo > a > img {
    width: 50%;
  }
  .bar {
    display: flex;
  }
  .navigating-heading {
    font-size: 1.5rem;
  }
  .header {
    flex-direction: column;
    gap: 30px;
  }
  .consultation-btn {
    width: 100%;
  }
  .left-landing {
    width: 100%;
  }
  .right-landing {
    width: 100%;
  }
  .mike-img > img {
    width: 100%;
    height: auto;
  }
}
