@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --fontColor: black;
  --h1FontSize: 2rem;
  --h2FontSize: 1.2rem;
  --primaryColor: #b9ff66;
  --prePrimaryColor: #f3f3f3;
}

.main-container {
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 90%;
  margin: 0 auto;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100px;
}

.links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.links > li {
  align-items: center;
  color: var(--fontColor);
  list-style: none;
}
.quote {
  padding: 15px 20px;
  border-radius: 15px;
  align-items: center;
}

.bar {
  display: none;
}
.header {
  width: 100%;
  display: flex;
}
.left-landing {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 30px;
}

.navigating-heading {
  width: 100%;
  font-size: var(--h1FontSize);
  display: flex;
  justify-content: flex-start;
}
.digital-marketing {
  width: 100%;
}
.consultation {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  width: 100%;
}
.consultation-btn {
  width: 50%;
  height: 40px;
  background-color: black;
  color: white;
}
.right-landing {
  display: flex;
  width: 50%;
  justify-content: right;
  align-items: center;
}
.companies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.parent-services {
  display: flex;
  width: 100%;
}

.services {
  width: 18%;
  display: flex;
  align-items: center;
}
.service-btn {
  width: 85%;
  height: 100%;
  background-color: var(--primaryColor);
  border-color: transparent;
  font-size: var(--h1FontSize);
}
.services-para {
  width: 55%;
}
.cards-row-1 {
  display: flex;
  justify-content: space-between;
}

.card1 {
  width: 47%;
  background-color: var(--prePrimaryColor);
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.eng-opt {
  width: 45%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card2 {
  width: 47%;
  background-color: var(--primaryColor);
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.ppc {
  width: 45%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.parent-working {
  display: flex;
  width: 100%;
}

.working {
  width: 38%;
  display: flex;
  align-items: center;
}
.working-btn {
  width: 85%;
  height: 100%;
  background-color: var(--primaryColor);
  border-color: transparent;
  font-size: var(--h1FontSize);
}
.working-para {
  width: 25%;
}
.contact-para {
  width: 25%;
}

.one {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryColor);
  border-radius: 50px;
  gap: 30px;
  border: 1px solid black;
  height: 300px;
  box-shadow: 2.5px 10px;
}
.inner-box-1 {
  width: 90%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.consult-1 {
  width: 95%;
  display: flex;
  font-size: var(--h2FontSize);
  align-items: center;
}
.consult-1 > h1 {
  padding: 0 2%;
}
.inner-para {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#two,
#three,
#four,
#five,
#six {
  height: 100px;
  background-color: var(--prePrimaryColor);
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--prePrimaryColor);
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.radio {
  margin-top: 2%;
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-evenly;
  font-size: var(--h2FontSize);
}
.name {
  font-size: var(--h2FontSize);
  width: 80%;
}
#name {
  width: 80%;
  height: 40px;
  border-radius: 15px;
  padding-left: 20px;
}
.text {
  font-size: var(--h2FontSize);
  width: 80%;
}
#text {
  width: 80%;
  height: 100px;
  border-radius: 15px;
  padding-left: 20px;
}
.send {
  width: 80%;
}
.send-btn {
  width: 80%;
  background-color: black;
  color: white;
  font-size: var(--h2FontSize);
  height: 50px;
}
.footer {
  width: 100%;
  display: flex;
  background-color: #191a23;
  flex-direction: column;
  gap: 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.footer-nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.foot-logo {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.footer-link {
  display: flex;
  font-size: var(--h2FontSize);
  color: var(--prePrimaryColor);
}
.footer-link > li {
  padding: 20px;
  text-decoration: underline;
}
.socials {
  display: flex;
  font-size: var(--h1FontSize);
  justify-content: space-between;
  align-items: center;
  color: white;
}

.socials > i {
  padding: 10px;
}
.footer-twoBoxes {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
.left-box {
  width: 35%;
  display: flex;
  flex-direction: column;
  font-size: var(--h2FontSize);
  gap: 10px;
  color: white;
}
.cont-btn {
  width: 40%;
  background-color: var(--primaryColor);
  border-radius: 5px;
  border-color: transparent;
  font-size: var(--h2FontSize);
}
.right-box {
  width: 55%;
  display: flex;
  height: 200px;
  background-color: grey;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.sub {
  width: 40%;
  height: 50px;
  border-radius: 15px;
}
#sub-1 {
  border-color: white;
  background-color: whitesmoke;
  font-size: var(--h2FontSize);
  padding-left: 20px;
  color: black;
}
#sub-2 {
  margin-left: 10px;
  background-color: var(--primaryColor);
  font-size: var(--h2FontSize);
}
.copyright {
  width: 90%;
  margin: 0 auto;
}
.inner-copy {
  width: 45%;
  display: flex;
  justify-content: space-between;
  color: white;
}
@media screen and (max-width: 1024px) {
  .links {
    display: none;
  }
  .logo > a > img {
    width: 50%;
  }
  .bar {
    display: flex;
  }
  .navigating-heading {
    font-size: 20px;
  }
  .header {
    flex-direction: column;
    gap: 30px;
  }
  .consultation-btn {
    width: 100%;
  }
  .left-landing {
    width: 100%;
  }
  .right-landing {
    width: 100%;
    justify-content: center;
  }
  .mike-img > img {
    width: 100%;
    height: auto;
  }
  .companies > img {
    width: 86px;
  }
  .parent-services {
    flex-direction: column;
    gap: 30px;
  }
  .services {
    width: 100%;
    justify-content: center;
  }
  .services-para {
    width: 100%;
    text-align: center;
  }
  .parent-working {
    flex-direction: column;
    gap: 30px;
  }
  .working {
    width: 100%;
    justify-content: center;
  }
  .working-para {
    width: 100%;
    text-align: center;
  }
  .contact-para {
    width: 100%;
    text-align: center;
  }
  .cards-row-1 {
    flex-direction: column;
    gap: 30px;
  }
  .card1 {
    width: 100%;
    height: 400px;
    flex-direction: column;
  }
  .eng-opt {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
  }
  .card2 {
    width: 100%;
    height: 400px;
    flex-direction: column;
  }
  .ppc {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
  }
  .one {
    width: 100%;
    background-color: var(--prePrimaryColor);
    height: 10%;
    box-shadow: 1px 5px;
  }
  .consult-1 {
    font-size: 14px;
    width: 95%;
  }
  .inner-para {
    display: none;
  }
  #two,
  #three,
  #four,
  #five,
  #six {
    height: 100px;
  }
  .radio {
    width: 80%;
  }
  .footer-nav {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .footer-link {
    flex-direction: column;
    align-items: center;
    column-gap: -10px;
  }
  .footer-link > li {
    text-decoration: none;
    padding: 10px;
  }
  .socials > i {
    padding: 20px;
  }
  .footer-twoBoxes {
    flex-direction: column;
    gap: 50px;
  }
  .left-box {
    gap: 25px;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .cont-btn {
    width: 60%;
  }
  .right-box {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
  .sub {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .consult-1 {
    font-size: 8px;
    align-items: center;
    width: 90%;
  }
  .plus-img {
    width: 35px;
    height: auto;
  }
  #two,
  #three,
  #four,
  #five,
  #six {
    height: 80px;
  }
  .radio {
    width: 90%;
  }
  .send {
    width: 100%;
  }
  .send-btn {
    width: 100%;
  }
  #sub-1 {
    width: 75%;
    height: 50px;
  }
  #sub-2 {
    width: 85%;
    margin: 0 auto;
  }
  .inner-copy {
    text-align: center;
    width: 100%;
    font-size: 12px;
    flex-direction: column;
  }
}
